In [5]:
DATA_PATH = '../data/'
vgd_data = DATA_PATH+'video_game.csv'

In [25]:
import pandas as pd
import numpy as np

# Import Data/ Cleaning

In [141]:
vgd_master = pd.read_csv(vgd_data)
vgd = vgd_master
vgd.head()

,Unnamed: 0,Name,Platform,Year_of_Release,Genre,Publisher,NA_players,EU_players,JP_players,Other_players,Global_players,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
#Lets change all the names of the columns to lowercase
vgd.columns = vgd.columns.str.lower()

## Numbers

In [93]:
vgd.describe()

,unnamed: 0,year_of_release,na_players,eu_players,jp_players,other_players,global_players,critic_score,critic_count,user_count
count,16717.000000,16448.000000,16717.000000,16717.000000,16717.000000,16717.000000,16717.000000,8137.000000,8137.000000,7590.000000
mean,8360.108452,2006.488996,0.263255,0.145010,0.077610,0.047333,0.533462,68.967679,26.360821,162.229908
std,4826.210417,5.877470,0.813475,0.503303,0.308836,0.186721,1.547956,13.938165,18.980495,561.282326
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,4181.000000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,8360.000000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,12539.000000,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,16719.000000,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [95]:
vgd.dtypes

unnamed: 0           int64
name                object
platform            object
year_of_release    float64
genre               object
publisher           object
na_players         float64
eu_players         float64
jp_players         float64
other_players      float64
global_players     float64
critic_score       float64
critic_count       float64
user_score          object
user_count         float64
developer           object
rating              object
dtype: object

In [119]:
vgd.isna().sum()

unnamed: 0            0
name                  0
platform              0
year_of_release     269
genre                 0
publisher            54
na_players            0
eu_players            0
jp_players            0
other_players         0
global_players        0
critic_score       8580
critic_count       8580
user_score         6702
user_count         9127
developer          6621
rating             6767
dtype: int64

### Year of Release

Something weird was happening here, but I think the issue was something to do with how I set my conditions for the null values of the year_of_release

In [150]:
vgd.year_of_release.isna().sum()

269

In [151]:
yorelease_missing = vgd[vgd.year_of_release.isna()].index.to_list()
vgd.iloc[yorelease_missing]
#Weird... some of these aren't actually missing

,unnamed: 0,name,platform,year_of_release,genre,publisher,na_players,eu_players,jp_players,other_players,global_players,critic_score,critic_count,user_score,user_count,developer,rating
183,184,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23,94.0,29.0,8.5,140.0,EA Tiburon,E
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49,84.0,20.0,6.4,76.0,EA Canada,E
456,457,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.80,0.97,0.00,0.29,3.06,74.0,17.0,7.9,22.0,Traveller's Tales,E10+
475,476,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00,NaN,NaN,NaN,NaN,NaN,NaN
609,610,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16376,16377,PDC World Championship Darts 2008,PSP,NaN,Sports,Oxygen Interactive,0.01,0.00,0.00,0.00,0.01,43.0,7.0,tbd,NaN,Oxygen Interactive,E10+
16409,16410,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,0.01,69.0,14.0,6.5,6.0,Midway,T
16452,16453,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01,59.0,6.0,6.7,107.0,Saber Interactive,M
16462,16463,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16526,16527,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01,55.0,19.0,5.5,12.0,Artificial Mind and Movement,T

In [152]:
#Lets try retriving a specific value:
print(type(vgd.iloc[16378].year_of_release))
print(vgd.iloc[16378].year_of_release)
vgd.iloc[[16378]]

<class 'numpy.float64'>
2011.0

,unnamed: 0,name,platform,year_of_release,genre,publisher,na_players,eu_players,jp_players,other_players,global_players,critic_score,critic_count,user_score,user_count,developer,rating
16378,16379,Starry ? Sky: After Autumn,PSP,2011.0,Misc,Aqua Plus,0.0,0.0,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
#Now a value that isn't null:
print(type(vgd.iloc[1].year_of_release))
print(vgd.iloc[1].year_of_release)
vgd.iloc[[1]]

<class 'numpy.float64'>
1985.0

,unnamed: 0,name,platform,year_of_release,genre,publisher,na_players,eu_players,jp_players,other_players,global_players,critic_score,critic_count,user_score,user_count,developer,rating
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
a = vgd.iloc[yorelease_missing]
a.isna().sum()
#And it even recognizes that there are no missing values at this stage?
a.year_of_release.isna().value_counts()

True    269
Name: year_of_release, dtype: int64

In [153]:
#Lets get rid of just the 10 columns without a year and try running isna again
a[a.year_of_release.isna()]

,unnamed: 0,name,platform,year_of_release,genre,publisher,na_players,eu_players,jp_players,other_players,global_players,critic_score,critic_count,user_score,user_count,developer,rating
183,184,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23,94.0,29.0,8.5,140.0,EA Tiburon,E
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49,84.0,20.0,6.4,76.0,EA Canada,E
456,457,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.80,0.97,0.00,0.29,3.06,74.0,17.0,7.9,22.0,Traveller's Tales,E10+
475,476,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00,NaN,NaN,NaN,NaN,NaN,NaN
609,610,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16376,16377,PDC World Championship Darts 2008,PSP,NaN,Sports,Oxygen Interactive,0.01,0.00,0.00,0.00,0.01,43.0,7.0,tbd,NaN,Oxygen Interactive,E10+
16409,16410,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,0.01,69.0,14.0,6.5,6.0,Midway,T
16452,16453,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01,59.0,6.0,6.7,107.0,Saber Interactive,M
16462,16463,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16526,16527,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01,55.0,19.0,5.5,12.0,Artificial Mind and Movement,T

In [164]:
#Weirdness aside I'm just going to drop the na columns for year, cause it doesn't make sense to impute?
#I could, however, use an api to get this information if I have the time
yor_drop = vgd[vgd.year_of_release.isna()].index.to_list()

[183,
 377,
 456,
 475,
 609,
 627,
 657,
 678,
 719,
 805,
 1131,
 1142,
 1301,
 1506,
 1538,
 1585,
 1609,
 1650,
 1699,
 1840,
 1984,
 2010,
 2106,
 2108,
 2132,
 2157,
 2169,
 2273,
 2281,
 2361,
 2453,
 2479,
 2492,
 2522,
 2536,
 2572,
 2773,
 2849,
 2969,
 3024,
 3081,
 3187,
 3223,
 3233,
 3289,
 3352,
 3413,
 3459,
 3486,
 3704,
 3739,
 3883,
 3997,
 4127,
 4132,
 4205,
 4220,
 4294,
 4337,
 4373,
 4437,
 4445,
 4635,
 4648,
 4775,
 4818,
 4848,
 4945,
 4959,
 5041,
 5070,
 5156,
 5194,
 5294,
 5326,
 5336,
 5443,
 5492,
 5588,
 5624,
 5642,
 5655,
 5769,
 5800,
 5857,
 5874,
 5889,
 5932,
 6020,
 6102,
 6134,
 6181,
 6200,
 6256,
 6267,
 6294,
 6300,
 6343,
 6357,
 6477,
 6625,
 6637,
 6774,
 6819,
 6862,
 6900,
 6955,
 7000,
 7009,
 7109,
 7211,
 7333,
 7354,
 7355,
 7368,
 7388,
 7392,
 7407,
 7585,
 7606,
 7725,
 7736,
 7849,
 8024,
 8068,
 8151,
 8152,
 8198,
 8213,
 8251,
 8261,
 8320,
 8365,
 8501,
 8548,
 8633,
 8681,
 8741,
 8885,
 8919,
 9044,
 9120,
 9152,
 9219,
 9294,
 9381,
 9486,
 9517,
 9665,
 9704,
 9707,
 9739,
 9762,
 9818,
 9828,
 9831,
 9856,
 9877,
 10051,
 10259,
 10318,
 10466,
 10487,
 10613,
 10687,
 10765,
 10791,
 10838,
 10994,
 11001,
 11017,
 11093,
 11120,
 11339,
 11378,
 11434,
 11456,
 11551,
 11566,
 11623,
 11791,
 11833,
 11926,
 11944,
 11955,
 11958,
 12004,
 12012,
 12047,
 12210,
 12218,
 12222,
 12236,
 12242,
 12525,
 12569,
 12585,
 12719,
 12735,
 12785,
 12881,
 12897,
 12960,
 12971,
 13061,
 13143,
 13196,
 13290,
 13318,
 13565,
 13610,
 13648,
 13673,
 13712,
 13782,
 13793,
 13875,
 13930,
 14107,
 14128,
 14143,
 14212,
 14254,
 14327,
 14352,
 14371,
 14451,
 14548,
 14599,
 14687,
 14748,
 14751,
 14771,
 14933,
 14952,
 15008,
 15024,
 15081,
 15083,
 15121,
 15269,
 15294,
 15340,
 15537,
 15559,
 15677,
 15706,
 15756,
 15797,
 15818,
 15955,
 15968,
 16000,
 16019,
 16061,
 16081,
 16082,
 16159,
 16182,
 16280,
 16291,
 16296,
 16332,
 16351,
 16376,
 16409,
 16452,
 16462,
 16526]

### Looking at Critic Score:

In [144]:
#Number of observations where I have a critic score:
len(vgd.drop(vgd[vgd.critic_score.isna()].index))

AttributeError: 'DataFrame' object has no attribute 'critic_score'

In [143]:
vgd.shape

(16719, 17)

## Categories

In [23]:
vgd.describe(exclude=np.number)

,Name,Platform,Genre,Publisher,User_Score,Developer,Rating
count,16717,16719,16717,16665,10015,10096,9950
unique,11562,31,12,581,96,1696,8
top,Need for Speed: Most Wanted,PS2,Action,Electronic Arts,tbd,Ubisoft,E
freq,12,2161,3370,1356,2425,204,3991

### Lets see if there are any textual issues with the categorical variables:

In [39]:
vgd.platform.unique()
#No repeats/ issues here

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       'PS4', '3DS', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne',
       'WiiU', 'GC', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [52]:
vgd[vgd.genre.isna()].index

Int64Index([659, 14246], dtype='int64')

In [51]:
#unneccessary investigation:
#https://en.wikipedia.org/wiki/List_of_Acclaim_Entertainment_games#1993
#possibly mortal kombat
print(vgd.iloc[659],'\n')
#possibly robocop 3
print(vgd.iloc[14246])

unnamed: 0                           660
name                                 NaN
platform                             GEN
year_of_release                     1993
genre                                NaN
publisher          Acclaim Entertainment
na_players                          1.78
eu_players                          0.53
jp_players                             0
other_players                       0.08
global_players                      2.39
critic_score                         NaN
critic_count                         NaN
user_score                           NaN
user_count                           NaN
developer                            NaN
rating                               NaN
Name: 659, dtype: object

unnamed: 0                         14247
name                                 NaN
platform                             GEN
year_of_release                     1993
genre                                NaN
publisher          Acclaim Entertainment
na_players                             0
eu_players                             0
jp_players                          0.03
other_players                          0
global_players                      0.03
critic_score                         NaN
critic_count                         NaN
user_score                           NaN
user_count                           NaN
developer                            NaN
rating                               NaN
Name: 14246, dtype: object

In [57]:
vgd.name.isna().sum()
#also the only two names missing... lets just drop them.

2

In [71]:
#here is how to get the index values (for posterity)
print(type(vgd[vgd.name.isna()].index))
#So we have to turn it into a list:
name_drop = vgd[vgd.name.isna()].index.to_list()
name_drop

<class 'pandas.core.indexes.numeric.Int64Index'>

[659, 14246]

In [79]:
print(vgd.shape)
vgd = vgd.drop(name_drop)
vgd.shape

(16717, 17)

KeyError: '[  659 14246] not found in axis'

In [82]:
vgd.head()

,unnamed: 0,name,platform,year_of_release,genre,publisher,na_players,eu_players,jp_players,other_players,global_players,critic_score,critic_count,user_score,user_count,developer,rating
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

# Some preprocessing

In [34]:
vgd.head()

,unnamed: 0,name,platform,year_of_release,genre,publisher,na_players,eu_players,jp_players,other_players,global_players,critic_score,critic_count,user_score,user_count,developer,rating
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN